
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


header {
    background-color: #333;
    color: #fff;
    padding: 8px 0;
    text-align: center;
    flex: 0 0 50px; 
}


.main-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}


.combined-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.hero-content {
    text-align: center;
    margin-bottom: 20px;
}

.hero-content img {
    max-width: 80%; 
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 2rem;
    color: #333;
    margin: 0;
}

.form-content {
    width: 100%;
    max-width: 450px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-content label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555;
}


.form-content input,
.form-content select,
.form-content button {
    width: 100%; 
    padding: 12px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 6px; 
    font-size: 1rem; 
    box-sizing: border-box; /
}


.form-content select {
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); 
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 40px; 
}


.form-content button {
    background-color: #333; 
    color: #fff; 
    border: none; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-content button:hover {
    background-color: #555; 
}


footer {
    text-align: center;
    padding: 0px;
    background-color: #333;
    color: #fff;
    flex: 0 0 40px; 
    width: 100%;
}


@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 1.8rem;
    }

    .form-content {
        padding: 15px;
    }
    #appointmentMessage {
        margin-top: 10px; 
        margin-bottom: 20px; 
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        padding: 10px; 
        border-radius: 6px; 
      }
      
      #appointmentMessage.success {
        color: green;
        background-color: #e6ffe6; 
      }
      
      #appointmentMessage.error {
        color: red;
        background-color: #ffe6e6;
      }}